<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mulazimet | Login</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->

    <style>
        .rtl {
            direction: rtl;
            text-align: right;
        }

        .ltr {
            direction: ltr;
        }
    </style>
</head>

<body>

<div class="page-wrapper rtl">

    <!-- Preloader -->
    <div class="preloader rtl"></div>


    <!-- Info Section -->
    <div class="login-section rtl">
        <div class="image-layer" style="background-image: url({% static 'images/background/12.jpg' %});"></div>
        <div class="outer-box">

            <!-- Login Form -->
            <div class="login-form default-form rtl">
                <a href="{% url 'index' %}"><img style="margin-top: -10rem;margin-right: 11rem"
                                                 src="{% static 'images/logo.png' %}" alt=""></a>

                <div class="form-inner">
                    <h3>ئەزا كىرىش</h3>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="message-box error rtl">
                                <button style="right: 31rem" class="close-btn"><span class="close_icon"></span></button>
                                <p>{{ message|safe }} </p>

                            </div>




                        {% endfor %}
                    {% endif %}
                    <!--Login Form-->
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>ئەزا نامى</label>
                            <input type="text" name="username" placeholder="ئەزا نامى" required>
                        </div>

                        <div class="form-group">
                            <label>پارول</label>
                            <input id="password-field" type="password" name="password" value="" placeholder="پارول">
                        </div>

                        <div class="form-group">
                            <div class="field-outer">
                                <div class="input-group checkboxes square">
                                    <input type="checkbox" name="remember-me" value="" id="remember">
                                    <label for="remember" class="remember"><input name="remember_me" value="yes"
                                                                                  type="checkbox"
                                                                                  class="custom-checkbox">مىنى
                                        خاتىرلەڭ</label>
                                </div>
                                <a href="#" class="pwd">پارولنى ئۇنۇتتىڭىزمۇ؟</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="theme-btn btn-style-one" type="submit" name="log-in">كىرىش</button>
                        </div>
                    </form>

                    <div class="bottom-box">
                        <div class="text">سىز تېخى ئەزا ئەمەسمۇ؟<a href=""><u
                                style="color: blue"> تىزىملىتىڭ </u></a></div>
                        <div class="divider"><span>ياكى</span></div>
                        <div class="btn-box row">
                            <div style="margin-right: 9rem" class="col-lg-6 col-md-12">
                                <a href="#" class="theme-btn social-btn-two google-btn"><i class="fab fa-google"></i>
                                    Gmail بىلەن تىزىملىتىڭ </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Login Form -->
        </div>
    </div>
    <!-- End Info Section -->


</div><!-- End Page Wrapper -->


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/chosen.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.modal.min.js' %}"></script>
<script src="{% static 'js/mmenu.polyfills.js' %}"></script>
<script src="{% static 'js/mmenu.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>



