<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js}"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
    <style>
        .rtl {
            direction: rtl;
        }

        .ltr {
            direction: ltr;
        }
    </style>
</head>

<body data-anm=".anm">


<div class="page-wrapper rtl">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header">

        <!-- Main box -->
        <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
                <div class="logo-box">
                    <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a></div>
                </div>

                <nav class="nav main-menu">
                    <ul class="navigation" id="navbar">



                        <!-- Only for Mobile View -->
                        <li class="mm-add-listing">

                            <span>
                                <span class="contact-info">
            <img src="{% static 'images/logo_2.png' %}" alt="">
                                </span>
                                <span class="social-links">
                                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    <a href="#"><span class="fab fa-twitter"></span></a>
                                    <a href="#"><span class="fab fa-instagram"></span></a>
                                    <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                </span>
                            </span>
                        </li>
                    </ul>
                </nav>
                <!-- Main Menu End-->
            </div>

            <div class="outer-box">
                <!-- Login/Register -->

                {% if current_author %}

                    <nav class="nav main-menu">
                        <ul class="navigation" id="navbar">

                            <li class="dropdown">
                                <a href="{% url 'author_detail' current_author.id %}"><img style="max-height: 2rem"
                                                                                           src="{{ current_author.image.url }}"
                                                                                           class="thumb"></a>
                                <span>{{ current_author.username }}</span>
                                <ul>
                                    <li><a href="{% url 'author_articles' current_author.id %}">كونتىرول تاختىسى</a>
                                    </li>
                                    <li><a href="{% url 'logout' %}">چىكىنىش</a></li>

                                </ul>
                            </li>


                            <!-- Only for Mobile View -->
                            <li class="mm-add-listing">
                                <img src="{% static 'images/logo.png' %}" alt="">
                                <span>
                                    <span class="contact-info">
                                        <span class="phone-num ltr"><span>1 us</span><a
                                                href="tel:+905343949888">+(90) 534 394 98 88</a></span>
                                        <span class="address">Sefaköy/Istanbul <br>Turkey.</span>
                                        <a href="mailto:codewazlar.com" class="email">codewazlar.com</a>
                                    </span>
                                    <span class="social-links">
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                        <a href="#"><span class="fab fa-instagram"></span></a>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </nav>

                {% else %}
                    <a href="{% url 'login' %}" class="theme-btn btn-style-three">كىرىڭ / تىزىملىتىڭ</a>
                {% endif %}

            </div>
        </div>

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a></div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">

                <div class="outer-box">


                    {% if current_author %}
                        <a href="{% url 'author_detail' current_author.id %}" id="toggle-user-sidebar"><img
                                style="max-height: 2rem" src="{{ current_author.image.url }}"> </a>
                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span
                                class="flaticon-menu-1"></span></a>


                    {% else %}

                        <!-- Login/Register -->
                        <div class="login-box">
                            <a href="{% url 'login' %}"><i class="icon-user"></i></a>
                        </div>



                    {% endif %}

                </div>
            </div>

        </div>
        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->
    {% block content %}



    {% endblock %}





    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section wow fadeInUp">
                <div class="row">
                    <div class="big-column col-xl-4 col-lg-3 col-md-12">
                        <div class="footer-column about-widget">
                            <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
                            </div>
                            <p class="phone-num ltr"><span>ئالاقىلىشىڭ</span><a>+(90) 534 394 98 88</a>

                            </p>
                            <p class="address">Istanbul/Sefaköy<br><a
                                    href="mailto:codewazlar.com" class="email">codewazlar.com</a></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <!--Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="outer-box">
                    <div class="copyright-text ltr">Django © 2021<a href="#"></a> كودۋاز گۇرۇپپىسى</div>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll To Top -->
        <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->


</div><!-- End Page Wrapper -->


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/chosen.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.modal.min.js' %}"></script>
<script src="{% static 'js/mmenu.polyfills.js' %}"></script>
<script src="{% static 'js/mmenu.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/anm.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>