{% extends 'base.html' %} {% load static %} {% block title %} Mulazimet | باشبەت {% endblock %} {% block content %}
<style>
    .rtl {
        direction: rtl;
        text-align: right;
    }
    
    .ltr {
        direction: ltr;
    }
</style>
<!-- Banner Section-->
<section class="banner-section rtl">
    <div class="auto-container">
        <div class="row">
            <div style="bottom: 5rem" class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInUp" data-wow-delay="1000ms">
                    <div class="title-box">
                        <h3>ئۆز-ئارا ئىھتىياجنى قارشىلاش بىزنىڭ <span class="colored">مەقسىتىمىز.</span></h3>
                        <div class="text">سىز ئۈچۈن ئەلا مۇلازىمەت سۇنۇشقا تىرىشىمىز.</div>
                    </div>

                    <!-- Job Search Form -->
                    <div class="job-search-form col-lg-8 col-md-6">
                        <form action="#">
                            <div class="row">


                                <div class="form-group col-lg-8 col-md-8 col-sm-6">
                                    <span class="icon flaticon-search-1"></span>
                                    <input type="text" name="keyword" placeholder="  مۇلازىمەت ئىزدەڭ  ">
                                </div>


                                <div class="form-group col-lg-2 col-md-10 col-sm-10 btn-box">
                                    <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">ئىزدەش</span>
                                        </button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- Job Search Form -->


                </div>
            </div>

            <div class="image-column col-lg-5 col-md-12 ltr">
                <div class="image-box">
                    <figure style="right: 7rem" class="main-image wow fadeIn" data-wow-delay="500ms"><img src="{% static 'images/uyghur.png' %}"></figure>

                    <!-- Info BLock One -->
                    <div style="margin-left: -15rem" class="info_block anm wow fadeIn" data-wow-delay="1000ms" data-speed-x="2" data-speed-y="2">
                        <span class="icon flaticon-search-1"></span>
                        <p>مۇلازىمەت ئىھتىياجى</p>
                    </div>


                    <!-- Info BLock Four -->
                    <div style="left: -15rem!important;" class="info_block_four anm wow fadeIn" data-wow-delay="2500ms" data-speed-x="3" data-speed-y="3">
                        <span class="icon flaticon-file"></span>
                        <div class="inner">
                            <p>مۇلازىمەت تەمىنلەش</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Section-->

<!-- Job Categories -->
<section class="job-categories">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>مۇلازىمەت تۈرلىرى</h2>

        </div>

        <div class="row wow fadeInUp">

            {% for category in categorys %}


            <!-- Category Block -->
            <div class="category-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="content">
                        <a href="{% url 'category_detail' category.id %}"><span
                                        class="icon {{ category.icon_class }}"></span></a>
                        <h4><a href="{% url 'category_detail' category.id %}">{{ category.name }}</a></h4>
                        <p>{{ category.article_set.count }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
<!-- End Job Categories -->



<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>ئەڭ يېڭى مۇلازىمەتلەر</h2>
            <div class="text"></div>
        </div>

        <div class="row wow fadeInUp">
            {% for article in articles %}

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="{% url 'article_detail' article.id %}"><img src="{{ article.image.url }}" /></a>
                        </figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-meta">
                            <li class="ltr"><a href="{% url 'article_detail' article.id %}">{{ article.datetime|date:"Y-m-d H:i" }}</a>
                            </li>
                            <li class="ltr"><a href="{% url 'article_detail' article.id %}">{{ article.author.username }}</a>
                            </li>
                        </ul>
                        <h3><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h3>
                        <a href="{% url 'article_detail' article.id %}">
                            <p class="text">{{ article.content|truncatewords:20|safe }}</p>
                        </a>
                        <br>
                        <a href="{% url 'article_detail' article.id %}" class="read-more">تەپسىلاتى <i
                                        class="fa fa-angle-left"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End News Section -->

{% endblock %}